/* 
1. Positions
2. Box model
3. Typography
4. Visuals styles
5. Others
*/

:root {
  /* Colors */
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #282623;
  --black: #201e1c;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;
  --currency-grey-left: #B5B0AC;
  --currency-grey-right: #757575;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
  scroll-behavior: smooth;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  margin-bottom: 40px;
  align-self: center;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header__title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  text-align: center;
  align-self: center;
}

.header__title-container h1 {
  color: var(--just-white);
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;

}

.header__title-container p {
  color: var(--grey);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  margin-top: 25px;
}

.header__title-container .header__button {
  background-color: var(--off-white);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 4px;
  color: var(--black);
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
  position: absolute;
  top: 270px;
  left: calc(50% - 115px);
  margin-top: 40px;
  padding: 15px;
  width: 229px;
  height: 48px;
  text-decoration: none;
}

.header__button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url('./assets/icons/down-arrow.svg');
}

main {
  width: 100%;
  height: auto;
  padding-top: 70px;
  padding-bottom: 30px;
  text-align: center;
  background-color: var(--off-white);
}

.main-exchange-container .backgroundImg {
  background-image: url('./assets/img/Bitcoin.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.main-exchange-container {
  width: 90%;
  min-height: 288px;
  max-width: 900px;
  margin: 0 auto;
  color: var(--warm-black);
}

.main-exchange-container__title h2 {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.6rem;
  margin-bottom: 24px;
}

.main-exchange-container__title p {
  color: #757575;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.main-table-container {
  width: 100%;
  height: auto;
  
}

.main-currency-table .currency-table__container {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: auto;
  margin: 18px auto;
}

.main-comision-table .comision-table__container {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: auto;
  margin: 18px auto;
  
}

.currency-table__title {
  color: var(--bitcoin-orange);
  font-style: normal;
  font-weight: bold;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 12px;
}

.comision-table__title {
  color: var(--secondary-blue);
  font-style: normal;
  font-weight: bold;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 18px;
  margin-bottom: 12px;
}

table {
  width: 82%;
  height: auto;
  margin: 0 auto;
}

td {
  background-color: var(--just-white);
  box-shadow: var(--warm-black);
  padding: 10px 12px;
}

.left-column-text {
  color: var(--currency-grey-left);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  text-align: center;
}

.right-column-text {
  color: var(--currency-grey-right);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
}

.trending-down-icon {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  background-image: url('./assets/icons/trending-down.svg');
  margin-left: 10px;
}

.trending-up-icon {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  background-image: url('./assets/icons/trending-up.svg');
  margin-left: 10px;
}

.top-left-column {
  border-radius: 15px 0 0 0;
}

.top-right-column {
  border-radius: 0 15px 0 0;
}

.bottom-right-column {
  border-radius: 0 0 15px 0;
}

.bottom-left-column {
  border-radius: 0 0 0 15px;
}

.currency-table__date {
  width: max-content;
  height: 30px;
  margin: 15px auto 0;
  padding: 8px;
  background-color: var(--soft-orange);
  border-radius: 8px;
}

.comision-table__date {
  width: max-content;
  height: 30px;
  margin: 15px auto;
  padding: 8px;
  background-color: var(--soft-blue);
  border-radius: 8px;
}

.currency-table__date, .comision-table__date p {
  font-size: 1.2rem;
}

.main-info-container {
  position: relative;
  background-color: var(--black);
  width: 100%;
  height: 875px;
  margin-top: 64px;
}

.main-info-container span img {
  position: absolute;
	top: calc(0% - 20px);
  left: calc(50% - 33px);
  margin: 0 auto;
}

.main-info-container span img{
  width: 64px;
}

.main-info {
  margin-top: 50px;
}

.main-info h2 {
  color: var(--just-white);
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 26px;
  padding-top: 50px;
}

.main-info p {
  color: var(--grey);
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 18px;
  margin-top: 24px;
  margin-bottom: 32px;
}

.main-cards-container {
  width: 80%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
}

.main-cards-container .card {
  border-radius: 5px;
  background-color: var(--warm-black);
  text-align: left;
  margin: 16px 0 16px 0;
  padding: 16px;
}

.main-cards-container .card h3{
  color: var(--just-white);
  font-style: normal;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 18px;
  margin: 10px 0;
  
}

.main-cards-container .card p {
  color: #808080;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.main-img-container {
  width: 100%;
  min-width: 320px;
  height: 50vh;
  background-image: url('./assets/img/bitcoinbaby2x.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 42px;
}

.main-plans {
  width: 100%;
  min-width: 320px;
  height: auto;
}

.main-plans .main-exchange-container__title {
  margin-bottom: 20px;
}

.main-carousel {
  display: flex;
  justify-content: center;
	overflow-x: scroll;
	overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.main-carousel-recommended {
  background-color: var(--bitcoin-orange);
  border-radius: 5px;
  color: var(--just-white);
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 15px;
  padding: 8px;
}

.main-carousel-plan {
  background-color: var(--just-white);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 5px;
  position: relative;
  width: 70%;
  min-width: 200px;
  max-width: 300px;
  height: 250px;
  margin: 50px 5px 0;
  margin-right: 15px;
  margin-left: 10px;
  scroll-snap-align: center;
}

.main-carousel-plan__title {
  margin-top: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  
}

.main-carousel-plan .price {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 5.2rem;
  line-height: 63px;
  margin-top: 16px;
}

.main-carousel-plan sup {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 15px;
}

.main-carousel-plan__parra {
  color: #757575;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 35px;
  text-align: center;
}

.main-carousel-plan .main-carousel__button-choose {
  background-color: var(--off-white);
  border: 1px solid #F7931A;
  border-radius: 5px;
  color: var(--black);
  font-style: normal;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-decoration: none;
  padding: 15px 16px;
}

.main-carousel-plan a span { 
  background-image: url('./assets/icons/orange-right-arrow.svg');
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-left: 5px;
}

footer {
  display: flex;
  width: 100%;
  height: 150px;
  background-color: var(--bitcoin-orange);
}

footer .info {
  display: flex;
  width: 50%;
  height: auto;
  justify-content: center;
  align-items: center;
}

footer ul li{
  margin: 15px 0px;
}

footer .logo {
  display: flex;
  width: 50%;
  height: auto;
  justify-content: center;
  align-items: center;
}

footer a {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--just-white);
}